.secondProduct {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 5rem;
}
.secondProduct img {
  display: flex;
  flex-direction: row;
  height: 5.5rem;
  border-radius: 8%;
}


.overshadow:focus {
  opacity: 0.2;
}


