.Info{
    
  width: 35%;
}

.Info h1, .Info .descont{
    color:  hsl(26, 100%, 55%);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.Info p{
    font-weight: 500;
    text-align: justify;
    margin-bottom: 1.25rem;
}
.Info h2 {
    color:hsl(0, 0%, 0%);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.Info .midPrice{
    color: hsl(0, 0%, 0%);
    font-weight: 700;
    font-size: 1.25rem;
}
.buttons{
    display: flex;
    gap: 20px;
    align-items:center ;
}
 .ItemsCart{
    background-color: hsl(223, 64%, 98%);
    padding: 0px 20px;
    color: hsl(0, 0%, 0%);
    border-radius: 10px;
    font-weight: 700;
    border-radius:10px;
    padding: 20px 10px
 
}
.ItemsCart span {
    margin: 0  50px;
}
.Info button {
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
}

.buttons .cart{
    background-color: hsl(26, 100%, 55%);
    color:  hsl(0, 0%, 100%);
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    padding: 20px 60px;
    border-radius: 10px;
    gap: 20px;
}
.cart svg{
fill: red;
}

