
.Brands{
    display: flex;
    align-items: center;
    gap: 1rem 2rem;
  }
   

  @media (max-width:375px){
  .Brands{
    display: flex;
    justify-content: space-around;
    gap: 0.5rem 1rem;
  }
  }